.link {
  display: inline-block;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: #e84a5f;
}

.link.active {
  color: #e84a5f;
  text-decoration: underline;
  text-underline-offset: 3px;
}